In [1]:
import pandas as pd

df = pd.read_csv('steel_date.csv')

In [2]:
df.head()

,Unnamed: 0,PLATE_NO,ROLLING_DATE,SCALE,SPEC,STEEL_KIND,PT_THK,PT_WDTH,PT_LTH,PT_WGT,...,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,FUR_EXTEMP,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR
0,0,PB562774,2008-08-01:00:00:15,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,...,1144,116,1133,59,282,1133,934,적용,8,2조
1,1,PB562775,2008-08-01:00:00:16,양품,AB/EH32-TM,T1,32.25,3707,15109,14180,...,1144,122,1135,53,283,1135,937,적용,8,2조
2,2,PB562776,2008-08-01:00:00:59,양품,NV-E36-TM,T8,33.27,3619,19181,18130,...,1129,116,1121,55,282,1121,889,적용,8,3조
3,3,PB562777,2008-08-01:00:01:24,양품,NV-E36-TM,T8,33.27,3619,19181,18130,...,1152,125,1127,68,316,1127,885,적용,8,3조
4,4,PB562778,2008-08-01:00:01:44,양품,BV-EH36-TM,T8,38.33,3098,13334,12430,...,1140,134,1128,48,314,1128,873,적용,8,1조

In [5]:
df['FUR_NO'].unique()

array(['1호기', '2호기', '3호기'], dtype=object)

In [6]:
df['FUR_NO_ROW'].unique()

array([1, 2], dtype=int64)

In [12]:
df['STEEL_KIND'].unique()
#철의 종류는 9개
len(df['STEEL_KIND'].unique())

9

In [14]:
print(df['SPEC'].unique())

print(len(df['SPEC'].unique()))
#스펙은 66개

['AB/EH32-TM' 'NV-E36-TM' 'BV-EH36-TM' 'COMMON' 'GL-E32-TM' 'GL-E36-TM'
 'AB/EH36-TM' 'KS-HSB600' 'LR-EH36-TM' 'BV-B' 'LR-B' 'JS-SM490YB' 'KR-B'
 'LR-A' 'JS-SM490A' 'KS-SM400B' 'JS-SM400B' 'AB/B' 'KS-SS400' 'KR-A'
 'NV-A' 'JS-SS400' 'KS-SM400A' 'KS-SM490B' 'V42JBN3' 'BV-AH32'
 'JS-SM490YA' 'AB/AH32' 'LR-AH32' 'NV-B' 'NV-A32' 'KS-SM490A' 'NK-KA32'
 'GL-A32' 'AB/A' 'LR-AH36' 'A709-36' 'KR-AH32' 'A516-60' 'GL-A' 'NK-KA'
 'NV-D36-TM' 'NK-KA32-TM' 'GL-A32-TM' 'LR-AH36-TM' 'LR-EH32-TM'
 'NV-E32-TM' 'KS-HSB500' 'API-2W-50T' 'GL-A36-TM' 'BV-EH32-TM' 'NV-A32-TM'
 'NV-D32-TM' 'NK-KD36-TM' 'GL-D36-TM' 'PILAC-BT33' 'BV-AH32-TM'
 'BV-AH36-TM' 'NV-A36-TM' 'A131-DH36TM' 'BV-AH36-TL' 'BV-A' 'CCS-B'
 'A283-C' 'SA283-C' 'JS-SM400A']
66

### 생산 시설은 3개 [1호, 2호, 3호]
각 호마다 1과 2로 생산라인이 분류되어 있음
 - 6개의 철 종류
 - 66개의 스펙

In [17]:
print(df['PT_THK'].unique())

print(len(df['PT_THK'].unique()))

[ 32.25   33.27   38.33   38.43   30.23   34.28   50.46   44.39   48.44
  45.4    44.9    51.27   55.51   55.5    40.     60.58   64.489  60.63
  64.12   60.57   65.64   67.65   65.69   70.7    73.71   70.6    75.71
  75.81   83.32   89.63   20.13   17.1    14.09   20.43   16.09   15.59
  18.1    17.4    20.1    21.11   14.06   15.09   15.38   16.6    18.11
  18.62   19.13   21.15   22.16   22.66   25.12   30.     35.15   40.16
  55.2    80.28   32.06   22.15   22.2    21.14   20.18   19.62   19.1
  19.12   18.4    18.16   30.13   30.24   50.19   38.16   25.18   24.17
  19.63   15.08   20.     20.14   23.16   25.19   26.24   24.11   24.18
  20.44   20.63   17.6    16.39   14.07   13.06   13.56   12.05   21.64
  21.94   19.42   20.42   17.09   15.58   12.8    12.03   13.54   14.05
  16.059  18.09   21.43   24.14   23.66   23.96   23.64   15.57   13.04
  12.55   16.59   13.08   23.15   17.61   25.     27.     25.23   36.3
  35.29   40.35   40.34   50.45   50.06   50.41   50.     55.02   60.18
  70.1    75.16   80.83   75.33   80.82   54.41   76.91   73.73   75.74
  13.36   12.56   16.     18.41   15.89   14.58   13.57   18.61   18.15
 100.34   19.18   14.12   16.14   20.19   33.67   19.93   18.92 ]
152

In [16]:
result = df.groupby(['STEEL_KIND', 'SPEC']).agg({'PT_THK': ['mean', 'min', 'max'], 'PT_WDTH': ['mean', 'min', 'max'], })
print(result.to_string())

                            PT_THK                        PT_WDTH
                              mean      min      max         mean   min   max
STEEL_KIND SPEC
C0         A283-C        23.715000   18.150   26.240  2600.833333  2281  3125
           A516-60       12.800000   12.800   12.800  3871.000000  3871  3871
           A709-36       26.240000   26.240   26.240  2800.000000  2800  2800
           AB/A          18.397143   12.560   25.180  3373.714286  3036  4229
           AB/AH32       13.442500   12.560   16.090  2702.250000  2690  2733
           AB/B          16.930000   13.060   19.130  3407.833333  2440  4266
           BV-A          13.360000   13.360   13.360  3276.000000  3276  3276
           BV-AH32       17.749214   12.050   20.140  2815.928571  2082  4570
           BV-B          19.029286   15.380   20.440  3104.642857  2200  3770
           CCS-B         19.130000   19.130   19.130  2531.000000  2531  2531
           GL-A          13.396667   13.060   14.070  3011.333333  2695  3444
           GL-A32        14.070000   12.050   17.100  2873.000000  2611  3400
           JS-SM400A    100.340000  100.340  100.340  2315.000000  2315  2315
           JS-SM400B     18.100000   18.100   18.100  2520.000000  2520  2520
           JS-SM490A     31.069032   13.080   50.190  2410.677419  2157  3082
           JS-SM490YA    19.100000   19.100   19.100  2040.000000  2040  2040
           JS-SM490YB    17.416667   14.090   20.100  2746.833333  2000  3284
           JS-SS400      34.815000   19.100   80.280  2590.944444  2463  3082
           KR-A          20.975185   12.550   24.140  2697.148148  2200  4490
           KR-AH32       13.393333   13.060   13.560  3125.000000  2685  3345
           KR-B          15.590000   15.590   15.590  3105.000000  3105  3105
           KS-SM400A     37.540000   30.000   40.160  2480.000000  2463  2530
           KS-SM400B     18.605000   14.060   22.200  2471.500000  2200  2682
           KS-SM490A     24.112000   20.100   30.130  2397.600000  1929  2532
           KS-SM490B     22.658571   14.060   35.150  2693.000000  2000  3478
           KS-SS400      21.104000   20.100   25.120  2574.400000  2469  2675
           LR-A          17.649444   12.050   24.170  3164.444444  2200  4575
           LR-AH32       15.157813   12.050   20.100  3064.531250  2000  4528
           LR-B          17.790769   12.050   20.430  3255.230769  2200  3648
           NK-KA         15.082000   13.060   20.140  3052.800000  2555  3580
           NK-KA32       13.565000   12.050   15.080  2839.750000  2568  3310
           NV-A          16.655417   12.030   25.190  3220.937500  2298  4333
           NV-A32        15.816364   12.050   20.140  2883.848485  2000  3567
           NV-B          21.813333   17.600   30.240  3130.000000  2240  3579
           SA283-C       20.006190   14.120   33.670  2589.142857  2200  3128
C1         JS-SS400      20.180000   20.180   20.180  2240.000000  2240  2240
C3         AB/AH32       23.160000   23.160   23.160  3208.000000  3208  3208
           LR-AH32       22.150000   22.150   22.150  3133.000000  3133  3133
           LR-AH36       25.190000   25.190   25.190  2998.000000  2998  2998
           V42JBN3       32.060000   32.060   32.060  2200.000000  2200  2200
T0         BV-AH32-TM    47.056667   40.350   50.410  3070.000000  3065  3080
           COMMON        30.230000   30.230   30.230  1940.000000  1940  1940
           GL-A32-TM     20.892500   13.060   40.350  3109.000000  2724  3328
           NK-KA32-TM    22.150000   22.150   22.150  2884.000000  2884  2884
           NV-A32-TM     40.350000   40.350   40.350  2772.000000  2772  2772
           NV-D32-TM     40.342500   40.340   40.350  2178.750000  2043  2497
T1         AB/EH32-TM    32.250000   32.250   32.250  3707.000000  3707  3707
           BV-EH32-TM    35.290000   35.290   35.290  3059.000000  3059  3059
           COMMON        45.400000   45.400   45.400  2120.000000  2090  2150
           GL-E32-TM     47.763333   34.280   50.460  2198.666667  2185  2207
           LR-EH32-TM    13.060000   13.060   13.060  2615.000000  2615  2615
           NV-E32-TM     13.310000   13.060   13.560  2475.000000  2475  2475
T3         API-2W-50T    25.230000   25.230   25.230  2303.000000  1990  2616
T5         KS-HSB500     26.000000   25.000   27.000  1857.500000  1800  1915
           KS-HSB600     40.000000   40.000   40.000  3990.000000  3990  3990
           PILAC-BT33    63.751000   40.000   80.830  2307.400000  1800  3055
T7         A131-DH36TM   70.700000   70.700   70.700  3570.000000  3570  3570
           BV-AH36-TL    75.070000   73.730   75.740  1840.000000  1840  1840
           BV-AH36-TM    40.350000   40.350   40.350  3059.000000  3059  3059
           COMMON        75.740000   75.740   75.740  1840.000000  1840  1840
           GL-A36-TM     39.981818   36.300   40.350  2718.909091  2481  3229
           GL-D36-TM     40.350000   40.350   40.350  2566.375000  2306  3121
           LR-AH36-TM    17.610000   17.610   17.610  2795.000000  2795  2795
           NK-KD36-TM    40.350000   40.350   40.350  2696.000000  2641  2751
           NV-A36-TM     40.350000   40.350   40.350  2501.500000  2343  2660
           NV-D36-TM     40.530000   23.150   54.410  2845.400000  2245  4075
T8         AB/EH36-TM    69.290000   51.270   89.630  2797.529412  2498  3110
           BV-EH36-TM    51.414571   38.330   73.710  2950.285714  2000  3303
           COMMON        57.599500   38.430   75.710  2761.350000  2498  3302
           GL-E36-TM     62.199375   44.390   75.710  2519.062500  2000  3765
           LR-EH36-TM    64.489000   64.489   64.489  3505.000000  3505  3505
           NV-E36-TM     52.672000   33.270   70.600  3160.600000  2265  3619

In [21]:
result = df.groupby(['PT_THK', 'PT_WDTH'])

In [22]:
df_sample = df.loc[:,['ROLLING_DATE','STEEL_KIND','FUR_NO','HSB','WORK_GR']]
df_sample

            ROLLING_DATE STEEL_KIND FUR_NO HSB WORK_GR
0    2008-08-01:00:00:15         T1    1호기  적용      2조
1    2008-08-01:00:00:16         T1    1호기  적용      2조
2    2008-08-01:00:00:59         T8    2호기  적용      3조
3    2008-08-01:00:01:24         T8    2호기  적용      3조
4    2008-08-01:00:01:44         T8    3호기  적용      1조
..                   ...        ...    ...  ..     ...
715  2008-08-02:13:35:36         C0    3호기  적용      2조
716  2008-08-02:13:35:02         C0    2호기  적용      1조
717  2008-08-02:14:40:00         C0    2호기  적용      4조
718  2008-08-02:13:35:19         C0    3호기  적용      2조
719  2008-08-02:14:40:53         C0    3호기  적용      2조

[720 rows x 5 columns]

In [25]:
df_sample2 = df.loc[:,['SCALE','WORK_GR']]
df_sample2

In [27]:
steel = df.copy()

steel['SCALE'] = steel['SCALE'].replace({'양품':1, '불량':0})
steel['HSB'] = steel['HSB'].replace({'적용':1, '미적용':0})

In [53]:
#불량개수
print(len(steel.loc[steel['SCALE']==0]))
#양품개수
print(len(steel.loc[steel['SCALE']==1]))

231
489

In [30]:
#스틸데이터로 HSB 적용여부에 따른 불량률 비율
pivot_steel = pd.pivot_table(data = steel, index = 'WORK_GR', columns = 'HSB', values = 'SCALE', aggfunc = 'count')
pivot_steel

HSB       0    1
WORK_GR
1조        8  181
2조        6  159
3조        9  163
4조       10  184

In [42]:
#스틸데이터로 HSB 적용여부와 생산시설 NO에 따른 불량률 비율2 그룹바이
gb_steel = steel.groupby(['WORK_GR','FUR_NO'])[['SCALE']].count().sort_values(by = ['WORK_GR','SCALE','FUR_NO'],ascending = False)
gb_steel

                SCALE
WORK_GR FUR_NO
4조      2호기        67
        1호기        66
        3호기        61
3조      1호기        60
        3호기        57
        2호기        55
2조      1호기        61
        3호기        55
        2호기        49
1조      3호기        70
        2호기        66
        1호기        53

# 양품 불량 여부에 영향을 주지않는 데이터
-제작일자 'ROLLING_DATE'
-플렌트 고유 'ID PLATE_NO'


HSB HSB 적용여부

# 김경태 제시할 인사이트
-생산시설 별 작업그룹의 양품 불량 sum